@font-face {
    font-family: 'Qager';
    src: local('Qager'), url(../../fonts/Qager.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

:root {
    --background-beige: rgba(228, 218, 196, 1);
    --black: rgba(0, 0, 0, 1);
    --green: rgba(66, 148, 80, 1);
    --iossafaribars-background-light: rgba(248, 248, 248, 0.88);
    --navy-accent: rgba(0, 0, 0, 1);
    --red-accent: rgba(148, 17, 32, 1);
    --teal-accent: rgba(62, 141, 144, 1);
    --white: rgba(255, 255, 255, 1);
  }

.missions-quest-main {
    background-color: #e4dac4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .missions-quest-main .div {
    background-color: #e4dac4;
    height: 852px;
    position: relative;
    width: 393px;
  }
  
  .missions-quest-main .tab {
    align-items: center;
    display: flex;
    gap: 22px;
    justify-content: center;
    left: 0;
    padding: 0px 35px;
    position: absolute;
    top: 60px;
    width: 393px;
  }
  
  .missions-quest-main .text-wrapper {
    color: #941120;
    font-family: "Qager", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
  }
  
  .missions-quest-main .text-wrapper-2 {
    color: #182c4b;
    font-family: "Qager", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: 152px;
  }
  
  .missions-quest-main .overlap-group {
    background-image: url(./img/frame-27.png);
    background-size: 100% 100%;
    height: 266px;
    left: 27px;
    position: absolute;
    top: 159px;
    width: 339px;
  }
  
  .missions-quest-main .group {
    height: 39px;
    left: 293px;
    position: absolute;
    top: 14px;
    width: 27px;
  }
  
  .missions-quest-main .overlap {
    height: 331px;
    left: 10px;
    position: absolute;
    top: 504px;
    width: 357px;
  }
  
  .missions-quest-main .frame {
    height: 272px;
    left: 0;
    position: absolute;
    top: 0;
    width: 357px;
  }
  
  .missions-quest-main .img {
    height: 68px;
    left: 152px;
    position: absolute;
    top: 263px;
    width: 68px;
  }
  
  .missions-quest-main .club-fair {
    height: 18px;
    left: 27px;
    position: absolute;
    top: 470px;
    width: 110px;
  }
  
  .missions-quest-main .time-2 {
    height: 20px;
    left: 159px;
    position: absolute;
    top: 470px;
    width: 139px;
  }
  
  .missions-quest-main .daily {
    height: 23px;
    left: 27px;
    position: absolute;
    top: 125px;
    width: 65px;
  }
  
  .missions-quest-main .time-3 {
    height: 23px;
    left: 110px;
    position: absolute;
    top: 123px;
    width: 143px;
  }
  
  .missions-quest-main .status-bar-ios-iphone {
    background-color: #e4dac4 !important;
    height: 46px !important;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    width: 392px !important;
  }
  
  .missions-quest-main .status-bar-ios-instance {
    height: 19px !important;
    left: 21px !important;
    overflow: unset !important;
    top: 15px !important;
    width: 56px !important;
  }
  
  .missions-quest-main .status-bar-ios-iphone-instance {
    left: 310px !important;
    top: 17px !important;
  }