@font-face {
    font-family: 'Qager';
    src: local('Qager'), url(./fonts/Qager.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

:root {
    --background-beige: rgba(228, 218, 196, 1);
    --black: rgba(0, 0, 0, 1);
    --green: rgba(66, 148, 80, 1);
    --iossafaribars-background-light: rgba(248, 248, 248, 0.88);
    --navy-accent: rgba(0, 0, 0, 1);
    --red-accent: rgba(148, 17, 32, 1);
    --teal-accent: rgba(62, 141, 144, 1);
    --white: rgba(255, 255, 255, 1);
  }


.missions-quest-main2 {
    background-color: #e4dac4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .missions-quest-main2 .div {
    background-color: #e4dac4;
    height: 852px;
    position: relative;
    width: 393px;
  }
  
  .missions-quest-main2 .group {
    height: 68px;
    left: 162px;
    position: absolute;
    top: 767px;
    width: 68px;
  }
  
  .missions-quest-main2 .overlap {
    height: 106px;
    left: 159px;
    position: absolute;
    top: 489px;
    width: 75px;
  }
  
  .missions-quest-main2 .social-button {
    height: 73px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 72px;
  }
  
  .missions-quest-main2 .text-wrapper {
    color: #000000;
    font-family: "qager", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    width: 75px;
  }
  
  .missions-quest-main2 .overlap-group {
    height: 179px;
    left: 58px;
    position: absolute;
    top: 295px;
    width: 273px;
  }
  
  .missions-quest-main2 .middle-scotty {
    height: 112px;
    left: 82px;
    position: absolute;
    top: 67px;
    width: 110px;
  }
  
  .missions-quest-main2 .overlap-group-2 {
    height: 101px;
    left: 184px;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .missions-quest-main2 .img {
    height: 73px;
    left: 9px;
    position: absolute;
    top: 28px;
    width: 72px;
  }
  
  .missions-quest-main2 .text-wrapper-2 {
    color: #000000;
    font-family: "qager", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .missions-quest-main2 .overlap-2 {
    height: 101px;
    left: 0;
    position: absolute;
    top: 0;
    width: 89px;
  }
  